@import './scss/mixin';
html, body {
	margin: 0;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.redfont {
	color: red;
}

header {
	background: rgb(75, 76, 77);
	color: white;
	height: 200px;

	.pic_logo {
		img {
			width: 480px;
		}
		margin-top: 26px;
		display: inline-block;
	}
	.userinfo {
		display: inline-block;
		margin-top: 65px;
		float: right;
		
		.usersetting {
			float: right;
			height: 60px;
    		padding-top: 6px;
			p {
				font-size: 14px;
				font-weight: bold;
				color: #fff;
			}
			a {
				font-size: 12px;
				color: #999 !important;
				margin-right: 5px;
			}
		}
		img {
			display: inline-block;
    		margin-right: 18px;
    		width: 60px;
		}
	}

	h1 {
		display: inline-block;
	    vertical-align: middle;
	    font-size: 25px;
	}

	.pic_navbar {
		background-color: rgb(217, 217, 217);
		padding: 0;
		height: 60px;

		ul.nav.nav-tabs {
			display: inline-block;
    		border: 0;
			&:after {
				@include clear_float;
			}

			li {	
				width: 100px;
				text-align: center;
				a {
					font-size: 16px;
					font-weight: bold;
					color: #666;
					height: 60px;
    				line-height: 60px;
    				padding: 0;
    				margin: 0;
    				border-radius: 0;
				}
				.homebtn {
					color: #333;
				}		
			}
		}
		.searchbox {
			float: right;
			input{
				display: inline-block;
			    float: left;
			    height: 30px;
			    width: 260px;
			    margin-top: 15px;
			    border-radius: 0;
			    font-size: 12px;
    			color: #999;

			    & + a {
					float: left;
				    width: 30px;
				    height: 30px;
				    margin-top: 15px;
				    text-align: center;
				    line-height: 30px;
				    font-size: 20px;
				    color: #333;
				    border: 0;

				    img {
				    	width: 30px;
				    }
			    }
			}
		}

	}
}

.load {
	position: relative;
}
.loadEffect {
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
}
.loadEffect div {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 45%;
    left: 50%;
    left: calc(50% - 10px);
    left: -webkit-calc(50% - 10px);
    left: -moz-calc(50% - 10px);
    -webkit-animation: load 1.66s linear infinite;
    animation: load 1.66s linear infinite;
}
.loadEffect p {
    margin: 15px 0;
    position: relative;
    top: 52%;
    text-align: center;
}
.loadEffect div span{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: green;
    position: absolute;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}
@-webkit-keyframes load{
    0%{
        -webkit-transform: rotate(0deg);
    }
    10%{
        -webkit-transform: rotate(45deg);
    }
    50%{
        opacity: 1;
        -webkit-transform: rotate(160deg);
    }
    62%{
        opacity: 0;
    }
    65%{
        opacity: 0;
        -webkit-transform: rotate(200deg);
    }
    90%{
        -webkit-transform: rotate(340deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes load{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(45deg);
    }
    50%{
        opacity: 1;
        transform: rotate(160deg);
    }
    62%{
        opacity: 0;
    }
    65%{
        opacity: 0;
        transform: rotate(200deg);
    }
    90%{
        transform: rotate(340deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loadEffect div:nth-child(1){
    -webkit-animation-delay:0.2s;
    animation-delay:0.2s;
}
.loadEffect div:nth-child(2){
    -webkit-animation-delay:0.4s;
    animation-delay:0.4s;
}
.loadEffect div:nth-child(3){
    -webkit-animation-delay:0.6s;
    animation-delay:0.6s;
}
.loadEffect div:nth-child(4){
    -webkit-animation-delay:0.8s;
    animation-delay:0.8s;
}
.loadEffect div:nth-child(5){
    -webkit-animation-delay:1s;
    animation-delay:1s;
}


footer {
	background-color: rgb(153, 153, 153);
	height: 146px;
	width: 100%;
	text-align: center;

	p {
		font-size: 20px;
		color: white;
	}
	&::after, p{
	    display:inline-block;
	    vertical-align:middle;
	}
	&::after{
	    content:'';
	    height:100%;
	}

}

.content {
	padding: 0;
	&:after {
		@include clear_float;
	}
	.leftcontent {
		width: 33.3%;
		display: inline-block;
		float: left;
		margin-top: 8px;
		>div {
			background-color: #eeeeee;
		}

		.worktable, .mytask, .news{
			th a {
				width: 30px;
				height: 20px;
				vertical-align: middle;
				span {
					color: #999;
				}
			}
			tr th, tr td{
				&:first-child {
					padding-left: 22px;
				}
				&:last-child {
					padding-right: 22px;
					text-align: right;
				}
			}
			tr th {
				height: 50px;
				vertical-align: middle;
				font-size: 16px;
				background-color: #d9d9d9;
				span {
					font-size: 14px;
				}
			}
			tr td {
				border: none;
				background-color: #e6e6e6;
			}
			tr:nth-child(2) {
				td {
					padding-top: 22px;
				}
			}
			tr:last-child {
				td {
					padding-bottom: 22px;
				}
			}
		}

		.news {
			th {
				span {
					font-size: 16px !important;;
					color: #999;
				}
			}
			tr td {
				text-align: left !important;
				span {
					font-size: 12px;
					color: #999;
				}
				p {
					color: #333;
					font-size: 16px;
					margin-bottom: 0;
				}
			}
		}

		.doccenter {
			.panel-heading {
				height: 50px;
				padding: 0 22px;
				font-size: 16px;
				background-color: #d9d9d9;
				color: #333;
				h3 {
					height: 50px;
					line-height: 50px;
					font-weight: bold;
				}
			}
			.panel-body {
				padding: 22px;
				background-color: #e6e6e6;
				>ul {
					padding-left: 22px;
					margin-bottom: 0;
				}
				>ul >li {
					color: #333;
					font-size: 16px;
					font-weight: bold;
					border-top: dashed 1px #d9d9d9;
					padding-top: 20px;
					&:first-child {
						border: none;
						padding-top: 0;
					}
				}
			}
			.singledoc ul {
				padding-left: 0;
				&:after {
					@include clear_float;
				}
				li {
					float: left;
					width: 30%;
					font-size: 14px;
					font-weight: initial;
					list-style: none;
					margin: 30px 0;

					img {
						width: 18px;
						margin-right: 5px;
					}
					a {
						color: #333;
					}
				}
			}
		}
	}
	.rightcontent {
		width: 66.6%;
		float: left;
		margin-top: 8px;
		padding-left: 8px;
		ul.nav.nav-tabs li {
			width: 23.5%;
		}

		.topcontent {
			margin-bottom: 20px;

			ul.nav.nav-tabs {
				background: rgb(187, 187, 187);
				a {
					color: black;
				}
				img {
					width: 40px;
				}
			}

			.tabheader {
				>p {
					display: inline-block;
				    padding-left: 20px;
				    font-size: 20px;
				    margin: 7px 0;
				}
				>.btn-group {
					float: right;
					margin-top: 20px;
					ul.dropdown-menu{
						min-width: 0;
					}
				}
			}

			.tabcontent, .tabheader {
				background-color: rgb(230, 230, 230);
			}
			.toptabone {
				tr {
					margin: 5px 0;
					border: 1px;
				}

				tr {
					>td{
						padding: 3px;
						&:first-child{
							width: 23%;
							text-align: center;
							vertical-align: middle;
							div {
								display: inline-block;
								padding: 8px 20%;
								border: 1px solid #666;
								color: white;
								background-color: #666;
								transform: skew(-30deg);

								h2 {
									transform: skew(30deg);
								}
							}
						}

						h4 {
							height: 29px;
							margin: 0;
						}
						ul {
							margin: 0;
						}
					}
				}
			}

			.toptabtwo {
				.chartbox {
					&:after {
						@include clear_float;
					}

					& + p {
						display: block;
					    padding-left: 20px;
					    font-size: 20px;
					    margin: 7px 0;
					}
				}
				.barchart, .piechart, .linechart {
					float: left;
					width: 32%;
					height: 300px;
					background: rgb(242, 242, 242) !important;
					margin: 5px;
				}
			}
		}
		.dateandevent {
			margin-bottom: 20px;
			#calendar {
				background: #eeeeee;
				max-width: 900px;
				margin: 0 auto;
				
				.fc-toolbar.fc-header-toolbar {
					margin: 0;
				}
			}
		}
		div.drawtimeline {
		    background: rgb(242, 242, 242);
		    margin: 5px;
		    padding: 10px 10px 0 10px;

			>div:after {
				@include clear_float;
			}

			.timeinfo {
				float: left;
				width: 20%;
				margin-left: 8px;

				&:first-child {
					margin-left: 30px;
				}
				.timetext {
					display: inline-block;
					border: solid 2px #555555;
					margin-bottom: 0;
					padding: 2px;
				}
				.timedate {
					padding-bottom: 20px;
					margin-bottom: 0;
					margin-left: 5px;
					padding-left: 5px;
					border-left: solid 1px black;
				}
				span {
					color: rgb(191, 34, 51);
				}
			}
			.sandetime {
				border-top: solid 1px black;
				.starttime {
					display: inline-block;
				}
				.endtime {
					float: right;
				}
			}
		}
		div.projectcheck {
			background-color: rgb(230,230,230);
			&:after {
				@include clear_float;
			}
			>p {
				display: block;
				padding: 10px 20px;
			    font-size: 20px;
			    margin: 0;
			}
			div.checktableitem {
				font-size: 12px;
				float: left;
				width: 32.6%;
				margin-right: 5px;
				p {
					background: #444;
					color: white;
					margin: 0;
					padding: 0;
					font-size: 20px;
					text-align: center;
				}
				table.table > thead > tr > th {
					background: #888;
					color: white;
					border: none;
				}

				table.table {
					margin: 0 !important;
					width: 100% !important;
					>tbody>tr>td,
					>thead>tr>th {
						padding: 3px;
						width: 25%;
						vertical-align: middle;
					}
					>tbody >tr {
						background-color: rgb(242, 242, 242);
					}
				}
			}
			.paging_simple_numbers {
				text-align: left !important;
				a {
					margin: 3px;
				}
			}
		}
	}
}

.container.content {
	>p {
		margin-top: 10px;
	}
	.uploadfile {
		font-size: 14px;
		overflow: hidden; 
		position: absolute;
		
		a {
			margin:0 10px;
			margin-top: 3px;
		}
		input {
			position: absolute; 
			z-index: 100;
			opacity: 0;
			filter: alpha(opacity=0); 
			height: 100%;
			width: 100% !important;
			padding-left: 0 !important;
		}
	}
	div.changerequest {
		div.panel.panel-default {
			margin-bottom: 0;
		}
		div.panel-heading {
			background-color: rgb(102, 102, 102);
			h3 {
				display: inline-block;
				color: white;
			}
			a {
				float: right;
				color: white;
			}
		}
		p input {
			display: inline;
			padding-left: 10px;
		}
		textarea {
			width: 100%;
		}
		textarea, input[type='text'], input[type='date'], select {
			background-color: rgb(246, 246, 246);
		}
		input[type='text'], input[type='date'], select {
			border: solid 1px #666;
		}

		.desctitle {
			font-weight: 700;
			span, input {
				font-weight: initial;
			}
		}
		.requirelist, .changeinfo, .manualreview {
			select, input {
				height: 26px;
				width: 174px;
			}
			.changelabel {
				width: 120px;
				text-align: right;
			}
			.requiretitle {
				width: 553px;
				width: -webkit-calc(100% - 175px);
				width: -moz-calc(100% - 175px);
				width: calc(100% - 175px);
			}

			>div {
				display: inline-block;
				margin: 5px 0;
			}
		}

		.changeinfodiv, .applystatus {
			>p {
				font-weight: 700;
				span, input {
					font-weight: initial;
					background-color: initial;
					border: none;
				}
			}
			textarea {
				width: 100%;
			}
		}
		.changeinfodiv {
			margin-bottom: 10px;
			input {
				display: inline;
    			padding-left: 10px;
			}
		}
		input.btn-lg {
			color: white;
			width: 200px;
			margin: 10px 0;
			background-color: rgb(102, 102, 102);
		}
		div.yandnbtn {
			text-align: center;
		}
		.feasiblestudy {

		}

		.requiresearch {
			label {
				margin: 0 10px 15px 10px;
			}
			.col-lg-4.col-md-4.col-sm-4,
			.col-lg-8.col-md-8.col-sm-8 {
				margin-left: 0;
				padding-left: 0;
				label {
					margin-left: 0;
				}
				select {
					height: 26px;
					width: 174px;
				}
			}
			a {
				display: inline-block;
				margin-right: 15px;
				span {
					color: black;
				}
			}
			.historyinfo {
				textarea {
					border: none;
				}
			}
		}
		.topdash {
			border-top: dashed 1px #999999;
			padding-top: 10px;
			margin-top: 10px;
			width: 100%;
		}

		.manualreview {
			.col-lg-12.col-md-12.col-sm-12 {
				input, table {
					width: 553.58px;
					width: calc(66.66% - 185px);
					display: inline;
				}

				table {
    				display: inline-table;
    				margin-bottom: 0;
				}
			}
		}

		.reviewresult {
			.panel-body {
				>p {
					font-weight: 700;
				}
				label{
					margin-left: 15px;
				}
			}
			input[type='button'] {
				margin-left: 15px;
			}
		}
	}

	.requiremanagement,
	.changemanagement,
	.schememanagement,
	.versionmanagement {
		background: rgb(230, 230, 230);
		padding: 20px;
		margin: 10px 0;
		>p {
			font-size: 20px;
			font-weight: bold;
			padding: 10px;
			margin-bottom: 0;
		}

		ul.nav-tabs, 
		div.selectbar, 
		div.requiretableitem,
		div.changetableitem,
		div.schemetableitem,
		div.versiontableitem {
			background: rgb(242, 242, 242);
		}

		ul.nav-tabs li {
			background: rgb(187, 187, 187);
			a {
				margin-right: 0;
				border: none;
				color: black;
				font-weight: bold;
			}
		}
		.selectbar {
			padding: 10px;
			select {
				margin-right: 10px;
				width: 100px;
				height: 24px;
			}

			input {
				    width: 82px;
    				height: 20px;
				    position: relative;
				    left: -112px;
				    padding: 0;
				    border: 0;
			}
		}
		.newandall {
			display: inline-block;
			float: right;
		}

		div.requiretableitem,
		div.changetableitem,
		div.schemetableitem,
		div.versiontableitem {
			#requiretable,
			#changetable,
			#schemetable,
			#versiontable {
				margin-top: 0 !important;
				thead {
					display: none;
				}
				tr {
					width: 50% !important;
					>td {
						width: 133px;
    					padding: 8px 0 8px 8px;
					}
				}
				>tbody {
					tr:nth-child(odd) {
						float: left;
						border-right: dashed 1px;
					}
					tr:nth-child(even) {
						float: left;
					}
				}
			}
		}
	}
}

.spcomponent {
	height: 26px;
	>label {
		position: relative;
		top: -8px;
	}

	.ms-taxonomy.ms-taxonomy-height.ms-taxonomy-width {
		width: 194px;
		display: inline-block;
		.ms-taxonomy-control-holder.ms-taxonomy-width {
			width: 194px;
			.ms-taxonomy-fieldeditor.ms-taxonomy-fieldeditor-standard {
				width: 174px !important;
				padding: 0;
				border: solid 1px #666;

				.ms-taxonomy-writeableregion{
					height: 24px;
					padding: 0;
					border: none;
					background-color: #f6f6f6;
				}
			}
		}
	}
	table.ms-usereditor {
		width: 214px;
		display: inline-block;
		tbody, tr {
			width: 214px;
			div.ms-inputuserfield.ms-inputBox {
				width: 174px;
				padding: 0;
				border: solid 1px #666;
				background-color: #f6f6f6;
    			height: 26px !important;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.barchart, .piechart, .linechart, .checktableitem{
		width: 48% !important;
	}
}

@media screen and (max-width: 960px) {
	.barchart, .piechart, .linechart, .checktableitem{
		width: 98% !important;
	}
	.checktableitem {
		margin: 5px;
	}
}