@import './scss/mixin';
html, body {
	margin: 0;
}

header {
	background: rgb(70, 116, 199);
	color: white;

	.pic_logo {
		margin-left: 15%;
		margin-top: 20px;
		display: inline-block;
	}
	.userinfo {
		display: inline-block;
		margin-top: 20px;
		float: right;
		margin-right: 15%;
		
		.usersetting {
			float: right;
		}
		img {
			display: inline-block;
		}
		a {
			color: white !important;
		}
	}

	h1 {
		display: inline-block;
	    vertical-align: middle;
	    font-size: 25px;
	}

	.pic_navbar {
		background-color: rgb(46, 50, 59);
		padding: 0;

		ul.nav.nav-tabs {
			display: inline-block;
    		border: 0;
			&:after {
				@include clear_float;
			}
			
		}
		input {
			display: inline-block;
			float: right;
			width: 200px;
    		margin-top: 5px;
		}
		a {
			color: white !important;
			
			&:link, &:hover{
				color: black !important;
			}
		}
	}
}

.content {
	padding: 0;
	&:after {
		@include clear_float;
	}
	.leftcontent {
		width: 33.3%;
		display: inline-block;
		float: left;
		margin-top: 20px;
		>div {
			background-color: #eeeeee;
		}

		.news {
			table tr:first-child {
				th:last-child {
					float: right;
					margin-right: 14%;
				}
			}
		}

		.doccenter {
			.singledoc ul {
				&:after {
					@include clear_float;
				}
				li {
					float: left;
					width: 30%;
				}
			}
		}
	}
	.rightcontent {
		width: 66.6%;
		float: left;
		margin-top: 20px;
		padding-left: 10px;
		ul.nav.nav-tabs li {
			width: 25%;
		}

		.topcontent {
			border-bottom: 1px solid #ddd;
			.tabheader {
				>h3 {
					display: inline-block;
					padding-left: 20px;
				}
				>.btn-group {
					float: right;
					margin-top: 20px;
					ul.dropdown-menu{
						min-width: 0;
					}
				}
			}
			.toptabone {
				tr {
					margin: 5px 0;
					border: 1px;
				}

				tr {
					>td{
						padding: 8px;
						&:first-child{
							color: white;
							width: 23%;
							background: url(./img/rhomboid.png) repeat-x center;
							background-size: contain;
							text-align: center;
							vertical-align: middle;
						}

						h4 {
							height: 29px;
							margin: 0;
						}
						ul {
							margin: 0;
						}
					}
				}
			}
			
			.toptabtwo, .toptabthree, .toptabfour {
				display: none;
				&:after {
					@include clear_float;
				}
				.barchart, .piechart, .linechart {
					float: left;
					width: 32%;
					height: 200px;
					background: #eeeeee;
					margin: 5px;
				}
			}
		}
		.dateandevent {
			margin-bottom: 20px;
			#calendar {
				background: #eeeeee;
				max-width: 900px;
				margin: 0 auto;
			}
		}
		div.drawtimeline {
			margin-top: 10px;
			>div:after {
				@include clear_float;
			}
			.timeinfo {
				float: left;
				width: 20%;
				margin-left: 8px;

				&:first-child {
					margin-left: 30px;
				}
				.timetext {
					display: inline-block;
					border: solid 2px #555555;
					margin-bottom: 0;
					padding: 2px;
				}
				.timedate {
					padding-bottom: 20px;
					margin-bottom: 0;
					margin-left: 5px;
					padding-left: 5px;
					border-left: solid 1px black;
				}
			}
			.sandetime {
				border-top: solid 1px black;
				.starttime {
					display: inline-block;
				}
				.endtime {
					float: right;
				}
			}
		}
		div.projectcheck {
			&:after {
				@include clear_float;
			}
			div.checktableitem {
				font-size: 12px;
				float: left;
				width: 32.6%;
				margin-right: 5px;
				p {
					background: #444;
					color: white;
					margin: 0;
					padding: 0;
					font-size: 20px;
					text-align: center;
				}
				table.table > thead > tr > th {
					background: #888;
					color: white;
					border: none;
				}

				table.table {
					margin: 0 !important;
					width: 100% !important;
					>tbody>tr>td,
					>thead>tr>th {
						padding: 3px;
						width: 25%;
						vertical-align: middle;
					}
				}
			}
		}
	}
}
.paging_simple_numbers {
	text-align: left;
	a {
		margin: 3px;
	}
}
.container.content {
	form.changerequest {
		div.panel-heading {
			h3 {
				display: inline-block;
			}
			a {
				float: right;
			}
		}
		.changeinfo {
			&::after {
				@include clear_float;
			}

			select {
				height: 26px;
				width: 174px;
			}
			.changelabel {
				width: 62px;
				text-align: right;
			}
			>div {
				width: 30%;
				display: inline-block;
			}
		}

		.changeinfodiv, .applystatus {
			textarea {
				width: 100%;
			}
		}
		.changeinfodiv {
			input {
				display: inline;
    			padding-left: 10px;
			}
		}
		input.btn-lg {
			width: 200px;
			margin: 0 5px;
		}
		div.yandnbtn {
			text-align: center;
		}
	}

	.requiremanagement {
		background: rgb(230, 230, 230);
		padding: 20px;
		>p {
			font-size: 20px;
			font-weight: bold;
			padding: 10px;
			margin-bottom: 0;
		}

		ul.nav-tabs, div.selectbar, div.requiretableitem {
			background: rgb(242, 242, 242);
		}
		.selectbar {
			padding: 10px;
			select {
				margin-right: 10px;
				width: 100px;
			}
		}
		.newandall {
			display: inline-block;
			float: right;
		}

		.requiretableitem {
			#requiretable {
				margin-top: 0 !important;
				thead {
					display: none;
				}
				tr {
					width: 50% !important;
					>td {
						width: 133px;
    					padding: 8px 0 8px 8px;
					}
				}
				>tbody {
					tr:nth-child(odd) {
						float: left;
						border-right: dashed 1px;
					}
					tr:nth-child(even) {
						float: left;
					}
				}
			}
		}
	}
}