@import './scss/mixin';
html, body {
	margin: 0;
}

header {
	background: rgb(75, 76, 77);
	color: white;

	.pic_logo {
		margin-left: 15%;
		margin-top: 20px;
		display: inline-block;
	}
	.userinfo {
		display: inline-block;
		margin-top: 20px;
		float: right;
		margin-right: 15%;
		
		.usersetting {
			float: right;
		}
		img {
			display: inline-block;
			border-radius: 50%;
    		margin-right: 10px;
		}
		a {
			color: white !important;
		}
	}

	h1 {
		display: inline-block;
	    vertical-align: middle;
	    font-size: 25px;
	}

	.pic_navbar {
		background-color: rgb(217, 217, 217);
		padding: 0;
		height: 42px;

		ul.nav.nav-tabs {
			display: inline-block;
    		border: 0;
			&:after {
				@include clear_float;
			}
			
			a {
				color: black;
			}
		}
		input {
			display: inline-block;
		    float: right;
		    width: 200px;
		    margin-top: 4px;
		    border-radius: 0;
		    margin-right: 4px;
		}
	}
}

.content {
	padding: 0;
	&:after {
		@include clear_float;
	}
	.leftcontent {
		width: 33.3%;
		display: inline-block;
		float: left;
		margin-top: 20px;
		>div {
			background-color: #eeeeee;
		}

		.news {
			table tr:first-child {
				th:last-child {
					float: right;
					margin-right: 14%;
				}
			}
		}

		.doccenter {
			.singledoc ul {
				&:after {
					@include clear_float;
				}
				li {
					float: left;
					width: 30%;
				}
			}
		}
	}
	.rightcontent {
		width: 66.6%;
		float: left;
		margin-top: 20px;
		padding-left: 10px;
		ul.nav.nav-tabs li {
			width: 25%;
		}

		.topcontent {
			margin-bottom: 20px;

			ul.nav.nav-tabs {
				background: rgb(187, 187, 187);
				a {
					color: black;
				}
			}

			.tabheader {
				>p {
					display: inline-block;
				    padding-left: 20px;
				    font-size: 20px;
				    margin: 7px 0;
				}
				>.btn-group {
					float: right;
					margin-top: 20px;
					ul.dropdown-menu{
						min-width: 0;
					}
				}
			}

			.tabcontent, .tabheader {
				background-color: rgb(230, 230, 230);
			}
			.toptabone {
				tr {
					margin: 5px 0;
					border: 1px;
				}

				tr {
					>td{
						padding: 3px;
						&:first-child{
							color: white;
							width: 23%;
							background: url(./img/rhomboid.png) repeat-x center;
							background-size: contain;
							text-align: center;
							vertical-align: middle;
						}

						h4 {
							height: 29px;
							margin: 0;
						}
						ul {
							margin: 0;
						}
					}
				}
			}

			.toptabtwo, .toptabthree, .toptabfour {
				display: none;
				.chartbox {
					&:after {
						@include clear_float;
					}

					& + p {
						display: block;
					    padding-left: 20px;
					    font-size: 20px;
					    margin: 7px 0;
					}
				}
				.barchart, .piechart, .linechart {
					float: left;
					width: 32%;
					height: 300px;
					background: rgb(242, 242, 242) !important;
					margin: 5px;
				}
			}
		}
		.dateandevent {
			margin-bottom: 20px;
			#calendar {
				background: #eeeeee;
				max-width: 900px;
				margin: 0 auto;
				
				.fc-toolbar.fc-header-toolbar {
					margin: 0;
				}
			}
		}
		div.drawtimeline {
		    background: rgb(242, 242, 242);
		    margin: 5px;
		    padding: 10px 10px 0 10px;

			>div:after {
				@include clear_float;
			}

			.timeinfo {
				float: left;
				width: 20%;
				margin-left: 8px;

				&:first-child {
					margin-left: 30px;
				}
				.timetext {
					display: inline-block;
					border: solid 2px #555555;
					margin-bottom: 0;
					padding: 2px;
				}
				.timedate {
					padding-bottom: 20px;
					margin-bottom: 0;
					margin-left: 5px;
					padding-left: 5px;
					border-left: solid 1px black;
				}
				span {
					color: rgb(191, 34, 51);
				}
			}
			.sandetime {
				border-top: solid 1px black;
				.starttime {
					display: inline-block;
				}
				.endtime {
					float: right;
				}
			}
		}
		div.projectcheck {
			background-color: rgb(230,230,230);
			&:after {
				@include clear_float;
			}
			>p {
				display: block;
				padding: 10px 20px;
			    font-size: 20px;
			    margin: 0;
			}
			div.checktableitem {
				font-size: 12px;
				float: left;
				width: 32.6%;
				margin-right: 5px;
				p {
					background: #444;
					color: white;
					margin: 0;
					padding: 0;
					font-size: 20px;
					text-align: center;
				}
				table.table > thead > tr > th {
					background: #888;
					color: white;
					border: none;
				}

				table.table {
					margin: 0 !important;
					width: 100% !important;
					>tbody>tr>td,
					>thead>tr>th {
						padding: 3px;
						width: 25%;
						vertical-align: middle;
					}
					>tbody >tr {
						background-color: rgb(242, 242, 242);
					}
				}
			}
			.paging_simple_numbers {
				text-align: left !important;
				a {
					margin: 3px;
				}
			}
		}
	}
}

.container.content {
	form.changerequest {
		div.panel-heading {
			h3 {
				display: inline-block;
			}
			a {
				float: right;
			}
		}
		.changeinfo {
			&::after {
				@include clear_float;
			}

			select {
				height: 26px;
				width: 174px;
			}
			.changelabel {
				width: 62px;
				text-align: right;
			}
			>div {
				width: 30%;
				display: inline-block;
			}
		}

		.changeinfodiv, .applystatus {
			textarea {
				width: 100%;
			}
		}
		.changeinfodiv {
			input {
				display: inline;
    			padding-left: 10px;
			}
		}
		input.btn-lg {
			width: 200px;
			margin: 0 5px;
		}
		div.yandnbtn {
			text-align: center;
		}
	}

	.requiremanagement,
	.changemanagement,
	.schememanagement,
	.versionmanagement {
		background: rgb(230, 230, 230);
		padding: 20px;
		margin: 10px 0;
		>p {
			font-size: 20px;
			font-weight: bold;
			padding: 10px;
			margin-bottom: 0;
		}

		ul.nav-tabs, 
		div.selectbar, 
		div.requiretableitem,
		div.changetableitem,
		div.schemetableitem,
		div.versiontableitem {
			background: rgb(242, 242, 242);
		}

		ul.nav-tabs li {
			background: rgb(187, 187, 187);
			a {
				margin-right: 0;
				border: none;
				color: black;
				font-weight: bold;
			}
		}
		.selectbar {
			padding: 10px;
			select {
				margin-right: 10px;
				width: 100px;
				height: 24px;
			}

			input {
				    width: 82px;
    				height: 20px;
				    position: relative;
				    left: -112px;
				    padding: 0;
				    border: 0;
			}
		}
		.newandall {
			display: inline-block;
			float: right;
		}

		div.requiretableitem,
		div.changetableitem,
		div.schemetableitem,
		div.versiontableitem {
			#requiretable,
			#changetable,
			#schemetable,
			#versiontable {
				margin-top: 0 !important;
				thead {
					display: none;
				}
				tr {
					width: 50% !important;
					>td {
						width: 133px;
    					padding: 8px 0 8px 8px;
					}
				}
				>tbody {
					tr:nth-child(odd) {
						float: left;
						border-right: dashed 1px;
					}
					tr:nth-child(even) {
						float: left;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.barchart, .piechart, .linechart, .checktableitem{
		width: 48% !important;
	}
}

@media screen and (max-width: 960px) {
	.barchart, .piechart, .linechart, .checktableitem{
		width: 98% !important;
	}
	.checktableitem {
		margin: 5px;
	}
}