<div class="container content">
	<div class="leftcontent">
		<div class="worktable">
			<!-- Table -->
			<table class="table">
				<tr>
					<th>工作台(<span>{{workdatasource.length}}</span>条)</th>
					<th>
						<a class="workdata" ng-click="prevPage($event)"><span class="glyphicon glyphicon-triangle-left"></span></a>
						<a class="workdata" ng-click="nextPage($event)"><span class="glyphicon glyphicon-triangle-right"></span></a>
					</th>
				</tr>
				<tr ng-repeat="work in workdata">
					<td>{{work.title}}</td>
					<td>{{work.status}}</td>
				</tr>
			</table>
		</div>
		<div class="mytask">
			<table class="table">
				<tr>
					<th>我提交的(<span>{{taskdatasource.length}}</span>条)</th>
					<th>
						<a class="taskdata" ng-click="prevPage($event)"><span class="glyphicon glyphicon-triangle-left"></span></a>
						<a class="taskdata" ng-click="nextPage($event)"><span class="glyphicon glyphicon-triangle-right"></span></a>
					</th>
				</tr>
				<tr ng-repeat="task in taskdata">
					<td>{{task.title}}</td>
					<td>{{task.status}}</td>
				</tr>
			</table>
		</div>
		<div class="news">
			<table class="table">
				<tr>
					<th>新闻 | 通告</th>
					<th>
						<a class="newsdata" ng-click="prevPage($event)"><span class="glyphicon glyphicon-triangle-left"></span></a>
						<a class="newsdata" ng-click="nextPage($event)"><span class="glyphicon glyphicon-triangle-right"></span></a>
					</th>
				</tr>
				<tr ng-repeat="news in newsdata">
					<td><img ng-src="{{news.imgurl}}" alt=""></td>
					<td><p>{{news.title}}</p><span>{{news.time}}</span></td>
				</tr>
			</table>
		</div>
		<div class="doccenter">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">文档中心</h3>
			  </div>
			  <div class="panel-body">
			    <div class="singledoc">
			    	<p>版本文档</p>
			    	<ul>
			    		<li><a href="#">设计版本</a></li>
			    		<li><a href="#">研发版本</a></li>
			    		<li><a href="#">实施版本</a></li>
			    	</ul>
			    </div>
			    <div class="singledoc">
			    	<p>标准文档</p>
			    	<ul>
			    		<li><a href="#">业务标准</a></li>
			    		<li><a href="#">技术标准</a></li>
			    		<li><a href="#">数据标准</a></li>
			    	</ul>
			    </div>
			    <div class="singledoc">
			    	<p>模板文档</p>
			    	<ul>
			    		<li><a href="#">通知模板</a></li>
			    		<li><a href="#">验收模板</a></li>
			    		<li><a href="#"> 报告模板</a></li>
			    	</ul>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="rightcontent">
		<div class="topcontent">
			<div>
				<ul class="nav nav-tabs">
				  	<li role="presentation" ng-click="changetab($event)"><a class="allplan">
				  	智能工厂总体计划</a></li>
				  	<li role="presentation" ng-click="changetab($event)"><a class="aprocess">{{chartdatasource[0].project_a.name}}</a></li>
				  	<li role="presentation" ng-click="changetab($event)"><a class="bprocess">{{chartdatasource[1].project_b.name}}</a></li>
				  	<li role="presentation" ng-click="changetab($event)"><a class="cprocess">{{chartdatasource[2].project_c.name}}</a></li>
				</ul>
				<div class="tabheader">
					<p>年度目标</p>
					<div class="btn-group">
						<select class="" ng-model="goalYear" ng-change="changeYearGoals(goalYear)">
						  <option value="2017">2017</option>
						  <option value="2016">2016</option>
						  <option value="2015">2015</option>
						</select>
					</div>
				</div>
				<div class="tabcontent toptabone" ng-show="homerighttab">
					<table class="table">
						<tr ng-repeat="goal_data in yearlygoals">
							<td><h2>{{goal_data.percent}}</h2></td>
							<td>
								<h4>{{goal_data.title}}</h4>
								<ul><li>{{goal_data.desc[0]}}</li></ul>
							</td>
							<td>
								<h4></h4>
								<ul><li>{{goal_data.desc[1]}}</li></ul>
							</td>
							<td>
								<h4></h4>
								<ul><li>{{goal_data.desc[2]}}</li></ul>
							</td>
						</tr>
					</table>
				</div>
				<div class="tabcontent toptabtwo" ng-show="!homerighttab">
					<div class="chartbox">
						<div class="barchart"></div>
						<div class="piechart"></div>
						<div class="linechart"></div>
					</div>
					<p><span>{{timelinedata.name}}</span>关键路径</p>
					<div class="drawtimeline">
						<div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-{{timelinedata.status_a.desc}}</p>
								<p class="timedate">{{timelinedata.status_a.time}}</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-{{timelinedata.status_b.desc}}</p>
								<p class="timedate">{{timelinedata.status_b.time}}</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-{{timelinedata.status_c.desc}}</p>
								<p class="timedate">{{timelinedata.status_c.time}}</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-{{timelinedata.status_d.desc}}</p>
								<p class="timedate">{{timelinedata.status_d.time}}</p>
							</div>
						</div>
						<div class="sandetime">
							<div class="starttime">
								<p>开始</p>
								<p>{{timelinedata.starttime}}</p>
							</div>
							<div class="endtime">
								<p>结束</p>
								<p>{{timelinedata.endtime}}</p>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="tabcontent toptabtwo">
					<div class="chartbox">
						<div class="barchart"></div>
						<div class="piechart"></div>
						<div class="linechart"></div>
					</div>
					<p>项目关键路径</p>
					<div class="drawtimeline">
						<div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目A实施阶段1.0上线</p>
								<p class="timedate">2017-4-25</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目A实施阶段2.0上线</p>
								<p class="timedate">2017-4-30</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目A实施阶段3.0上线</p>
								<p class="timedate">2017-5-25</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目A实施阶段4.0上线</p>
								<p class="timedate">2017-7-25</p>
							</div>
						</div>
						<div class="sandetime">
							<div class="starttime">
								<p>开始</p>
								<p>2017-4-20</p>
							</div>
							<div class="endtime">
								<p>结束</p>
								<p>2017-9-20</p>
							</div>
						</div>
					</div>
				</div> -->
				<!-- <div class="tabcontent toptabthree">
					<div class="chartbox">
						<div class="piechart"></div>
						<div class="barchart"></div>
						<div class="linechart"></div>
					</div>
					<p>项目关键路径</p>
					<div class="drawtimeline">
						<div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目B实施阶段1.0上线</p>
								<p class="timedate">2017-4-25</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目B实施阶段2.0上线</p>
								<p class="timedate">2017-5-30</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目B实施阶段3.0上线</p>
								<p class="timedate">2017-6-25</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目B实施阶段4.0上线</p>
								<p class="timedate">2017-7-25</p>
							</div>
						</div>
						<div class="sandetime">
							<div class="starttime">
								<p>开始</p>
								<p>2017-4-20</p>
							</div>
							<div class="endtime">
								<p>结束</p>
								<p>2017-9-20</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tabcontent toptabfour">
					<div class="chartbox">
						<div class="barchart"></div>
						<div class="linechart"></div>
						<div class="piechart"></div>
					</div>
					<p>项目关键路径</p>
					<div class="drawtimeline">
						<div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目C实施阶段1.0上线</p>
								<p class="timedate">2017-3-25</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目C实施阶段2.0上线</p>
								<p class="timedate">2017-4-30</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目C实施阶段3.0上线</p>
								<p class="timedate">2017-7-25</p>
							</div>
							<div class="timeinfo">
								<p class="timetext"><span>里程碑</span>-项目C实施阶段4.0上线</p>
								<p class="timedate">2017-8-25</p>
							</div>
						</div>
						<div class="sandetime">
							<div class="starttime">
								<p>开始</p>
								<p>2017-4-20</p>
							</div>
							<div class="endtime">
								<p>结束</p>
								<p>2017-9-20</p>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<div class="dateandevent">
			<div id='calendar'></div>
		</div>
		<div class="projectcheck">
			<p>项目考核</p>
			<div class="checktableitem">
				<p>项目设计</p>
				<table id="checktableleft" class="table">
					<thead>
						<tr>
							<th>项目组</th>
							<th>项目经理</th>
							<th>计划完成率</th>
							<th>成本进度比</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="checktableitem">
				<p>项目设计</p>
				<table id="checktablecenter" class="table">
					<thead>
						<tr>
							<th>项目组</th>
							<th>项目经理</th>
							<th>计划完成率</th>
							<th>成本进度比</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="checktableitem">
				<p>项目设计</p>
				<table id="checktableright" class="table">
					<thead>
						<tr>
							<th>项目组</th>
							<th>项目经理</th>
							<th>计划完成率</th>
							<th>成本进度比</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="./js/chart.js"></script>
<script src="./js/calendar.js"></script>
<script src="./js/lib/locale-all.js"></script>
<script src="./js/checktable.js"></script>