<div class="container content">
	<p>当前位置：范围管理 > <span>建设方案审批表单</span></p>
	<div class="changerequest">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">建设方案审批表单</h3>
		  </div>
		  <div class="panel-body">
		    <div>
		    	<div class="schemeapproval">
	    			<div class="col-lg-8 col-md-8 col-sm-8">
						<label class="changelabel">文件标题</label>
						<a href="" class="textbox640">中国石化智能工厂提升项目需求（燕山）设计生产管控一体化--专题建设方案.pdf
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<label class="changelabel">业务主线</label>
						<span class="textbox240">生产管控一体化</span>
					</div>
			    	<div class="col-lg-8 col-md-8 col-sm-8">
					    <label class="changelabel">需求规格说明书</label>
					    <span class="textbox640">中国石化智能工厂提升项目需求（燕山）设计生产管控一体化--需求规格说明书.pdf</span>
		    		</div>
		    		<div class="col-lg-4 col-md-4 col-sm-4">
						<label class="changelabel">企业</label>
						<span class="textbox240">燕山</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12">
					    <label class="changelabel">可引用版本</label>
					    <table>
					    	<tr>
					    		<td class="textbox640">
					    			<span>中国石化智能工厂提升项目需求（青岛）设计生产管控一体化--某版本名称</span>
					    		</td>
					    	</tr>
					    	<tr>
					    		<td>
					    			<a href="">某设计版本文档集</a>
					    			<a href="">某研发版本文档集</a>
					    		</td>
					    	</tr>
					    </table>
					</div>
		    		<div class="col-lg-4 col-md-4 col-sm-4">
					    <label class="changelabel">创建人</label>
					    <span class="textbox240">蒋云</span>
		    		</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8">
					    <label class="changelabel">创建时间</label>
					    <span class="textbox240">2017-05-17  15:03</span>
		    		</div>
		    		<div class="col-lg-4 col-md-4 col-sm-4">
					    <label class="changelabel">修改者</label>
					    <span class="textbox240">张晓园</span>
		    		</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8">
					    <label class="changelabel">修改时间</label>
					    <span class="textbox240">2017-05-17  15:03</span>
		    		</div>
		    	</div>
			   
		    </div>
		    
		</div>
		
	</div>
	<div class="panel panel-default reviewresult">
		  <div class="panel-heading">
		    <h3 class="panel-title">大项目管理组审批</h3>
		  </div>
		  <div class="panel-body">
		    <p>审批意见</p>
			<textarea name="changecost" id="" cols="150" rows="5"></textarea>
			<p>审核结论</p>
			<label class="radio-inline">
			    <input type="radio" name="resultradio" id="inlineRadio1" value="option1"> 通过
			</label>
			<label class="radio-inline">
			    <input type="radio" name="resultradio" id="inlineRadio2" value="option2"> 未通过
			</label>
		  </div>
		  <input type="button" value="提交" class="btn btn-lg">
		</div>
</div>
