<div class="container content">
	<p>当前位置：<span>范围管理</span></p>
	<div class="scopemgt">
		<p>常用功能</p>
		<div class="scopeheader">
			<table>
				<tr>
					<th>需求类</th>
					<th>方案类</th>
					<th>变更类</th>
					<th>版本类</th>
				</tr>
				<tr>
					<td>
						<ul>
							<li><img src="" alt=""><a href="">新建需求申请</a></li>
							<li><img src="" alt=""><a href="">提交需求规格说明书</a></li>
						</ul>
					</td>
					<td>
						<img src="" alt="">
						<a href="">提交企业专题建设方案</a>
					</td>
					<td>
						<img src="" alt="">
						<a href="">新建变更申请</a>
					</td>
					<td>
						<ul>
							<li><a href="">查看设计版本库</a></li>
							<li><a href="">查看研发版本库</a></li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div class="scopecontent">
			<ul id="scopeTab" class="nav nav-tabs">
				<li class="active">
					<a href=".requirecase" data-toggle="tab">需求情况</a>
					<!-- 正式时，由于路由不使用angular-router, 可以替换为通过id跳转,改为# -->
				</li>
				<li>
					<a href=".changecase" data-toggle="tab">变更情况</a>
				</li>
				<li>
					<a href=".plancase" data-toggle="tab">方案情况</a>
				</li>
			</ul>
			<div id="scopeTabContent" class="tab-content">
				<div class="tab-pane fade in active requirecase" id="requirecase">
					<div class="myrequirelink">
						<a href="">我提交的需求申请</a>
						<a href="">所有需求</a>
					</div>
					<div class="contentBox">
						<ul id="requireTabHeader" class="nav nav-tabs">
							<li>
								<a href=".product" data-toggle="tab">生产管控一体化</a>
								<!-- 正式时，由于路由不使用angular-router, 可以替换为通过id跳转,改为# -->
							</li>
							<li>
								<a href=".allprocess" data-toggle="tab">全流程一体化优化</a>
							</li>
							<li class="active">
								<a href=".liftcycle" data-toggle="tab">全生命周期一体化资产管理</a>
							</li>
							<li>
								<a href=".smartmake" data-toggle="tab">智能制造平台</a>
							</li>
						</ul>
						<div id="requireTabContent" class="tab-content">
							<div class="tab-pane fade in product" id="product">
								中国石化智能工厂项目A
							</div>
							<div class="tab-pane fade in allprocess" id="allprocess">
								中国石化智能工厂项目B
							</div>
							<div class="tab-pane fade in active liftcycle" id="liftcycle">
								<div class="cyclestart">新建需求</div>
								<div>
									<p>待可行性研究的需求<span>(8)</span></p>
								</div>
								<div>
									<p>待审批的需求<span>(10)</span></p>
								</div>
								<div>
									<p>需求调研阶段<span>(10)</span></p>
								</div>
								<div>
									<p>需求规格说明书审核阶段<span>(20)</span></p>
								</div>
								<div>
									<p>需求基线确立<span>(20)</span></p>
								</div>
							</div>
							<div class="tab-pane fade in smartmake" id="smartmake">
								中国石化智能工厂项目C
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade changecase" id="changecase">
					
				</div>
				<div class="tab-pane fade plancase" id="plancase">
					
				</div>
			</div>
		</div>
	</div>
</div>
