<div class="container content">
	<p>当前位置：范围管理 > 需求规格说明书审核表单</p>
	<div class="changerequest">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">需求规格说明书审核表单</h3>
		  </div>
		  <div class="panel-body">
		    <div>
		    	<div class="manualreview">
	    			<div class="col-lg-12 col-md-12 col-sm-12">
						<label class="changelabel">文件标题</label>
						<a href="">中国石化智能工厂提升项目需求（燕山）设计生产管控一体化--需求规格说明书.pdf</a>
					</div>
			    	<div class="col-lg-12 col-md-12 col-sm-12">
					    <label class="changelabel">版本引用</label>
					    <span>中国石化智能工厂提升项目需求（燕山）设计生产管控一体化--某版本名称</span>
		    		</div>
		    		<div class="col-lg-4 col-md-4 col-sm-4">
					    <label class="changelabel">企业名称</label>
					    <span>燕山</span>
		    		</div>
		    		<div class="col-lg-4 col-md-4 col-sm-4">
					    <label class="changelabel">业务主线</label>
					    <span>生产管控一体化</span>
		    		</div>
		    		<div class="col-lg-12 col-md-12 col-sm-12">
					    <label class="changelabel">相关需求</label>
					    <table class="table table-bordered table-striped">
					    	<tr>
					    		<th>需求编号</th>
					    		<th>需求标题</th>
					    	</tr>
				    		<tr>
				    			<td>20170517216</td>
				    			<td><a href="">中国石化智能工厂提升项目需求（燕山）设计生产管控一体化</a></td>
				    		</tr>
					    </table>
					</div>
		    		<div class="col-lg-4 col-md-4 col-sm-4">
					    <label class="changelabel">创建人</label>
					    <span>蒋云</span>
		    		</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8">
					    <label class="changelabel">创建时间</label>
					    <span>2017-05017  15:03</span>
		    		</div>
		    		<div class="col-lg-4 col-md-4 col-sm-4">
					    <label class="changelabel">修改者</label>
					    <span>张晓园</span>
		    		</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8">
					    <label class="changelabel">修改时间</label>
					    <span>2017-05017  15:03</span>
		    		</div>
		    	</div>
			   
		    </div>
		    
		</div>
		<div class="panel panel-default reviewresult">
		  <div class="panel-heading">
		    <h3 class="panel-title">工作小组审批</h3>
		  </div>
		  <div class="panel-body">
		    <p>审批意见</p>
			<textarea name="changecost" id="" cols="150" rows="5"></textarea>
			<p>审核结论</p>
			<label class="radio-inline">
			    <input type="radio" name="resultradio" id="inlineRadio1" value="option1"> 通过
			</label>
			<label class="radio-inline">
			    <input type="radio" name="resultradio" id="inlineRadio2" value="option2"> 未通过
			</label>
		  </div>
		  <input type="button" value="提交" class="btn btn-lg">
		</div>
	</div>
</div>
