@mixin clear_float {
	content: "";
	display: block;
	clear: both;
	height: 0;
	width: 0;
	visibility: hidden;
}
.front-star {
	&:before {
		content: "*";

	}
}
.radiogroup {
	&:after {
		@include clear_float;
	}
}
table.aligncenter {
	text-align: center;
	th {
		text-align: center;
	}
}
.hidebox {
	visibility: hidden !important;
}
div.model {
	z-index: 1505;
}
.masklayer {
	position: fixed;
	_position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background-color: #999;
    z-index: 1504;
    display: none;
}
.container.content div.changerequest div.panel.panel-default:last-child {
	border-top: 1px solid #ddd;
}
.searchcondition {
	>div {
		display: inline-block;
	    margin: 12px 0;
	    padding: 0;
	    margin-right: 19px;
	    label {
	    	text-align: right;
	    }
	}

	.employeeid, .employeeskill {
		label {
			width: 160px;
		}
	}
	
	.radiogroup {
		margin-top: 20px;
		label {
			height: 40px;
			line-height: 40px;

			input {
				top: 10px;
			}
		}
	}
}
.container.content div.changerequest {
	.employeeskill {
		input {
			width: 857px;
		}
	}
}
.searchlist {
	list-style: none;
	padding-left: 0;
	&:after {
		@include clear_float;
	}

	>li {
		border-bottom: 1px dashed #999;
		margin-bottom: 10px;
		&:after {
			@include clear_float;
		}
	}
	
	.leftlist {
		float: left;
		min-width: 50px;

		h4 {
			margin-top: 0;
			a {
				color: #333;
			}
		}
	}
	.rightlist {
		float: left;

		.infoitem {
			display: inline-block;
			min-width: 210px;
			margin-bottom: 5px;	

			label {
				color: #666;
			}
		}
	}
}
.peopleinfo {
	&:after {
		@include clear_float;
	}
	.leftinfo {
		float: left;
		width: 33.3%;
		padding-right: 32px;

		.infoheader {
			width: 300px;
    		margin: 0 auto;
			&:after {
				@include clear_float;
			}
			>img {
				float: left;
				width: 100px;
				margin: 5px;
				display: inline-block;
    			border-radius: 50%;
			}
			>div {
				float: left;
				width: 180px;
				height: auto;
				margin: 5px;
				padding-top: 8px;
				h3 {
					display: inline-block;
					margin-right: 10px;
					width: 100px;
				}
				p {
					display: inline-block;
					margin-right: 0px;
					width: 60px;
					&:first-child {
						width: 100px;
						margin-right: 10px;
					}
				}
			}
		}
		.infodetail {
			width: 300px;
    		margin: 0 auto;
			ul {
				list-style: none;
				padding-left: 0;

				li {
					label {
						width: 100px;
						text-align: right;
						margin: 5px 5px 5px 10px;
					}
				}
			}
		}
		input[type='button'] {
			display: block;
			margin: 10px auto !important;
		}
	}
	.rightinfo {
		float: left;
		width: 66.6%;

		.rightinfoheader {
			label + span {
				margin-right: 20px;				
			}
			>a {
				float: right;
			}
		}
		table {
			text-align: center;
			th {
				text-align: center;
			}
		}
	}

}
.infodescbox {
	>p {
		background: #666;
		text-align: center;
		color: white;
		height: 30px;
		line-height: 30px;
		margin-bottom: 0;
	}
	>div {
		min-height: 150px;
		border: 1px #666 solid;
		margin-bottom: 10px;
	}
}

.peopleassignrecord {
	.panel-body >div {
		>span {
			margin-right: 20px;
		}
	}
	table {
		text-align: center;
		th {
			text-align: center;
		}
	}
}

.newpeople {
	.panel-body {
		>div {
			&:after {
				@include clear_float;
			}
			>div {
				margin: 10px 0;
				label {
					width: 110px;
					text-align: right;
				}
			}
			div.col-lg-12.col-md-12.col-sm-12,
			div.col-lg-8.col-md-8.col-sm-8 {
				input, select {
					width: calc(100% - 120px);
				}
			}
			.spcomponent .ms-taxonomy.ms-taxonomy-height.ms-taxonomy-width,
			.spcomponent table.ms-usereditor,
			.spcomponent > input {
				left: 110px;
			}
			.spcomponent table.ms-usereditor >tbody {
				>tr:first-child {
					>td:last-child {
						padding-left: 3px !important;
					}
				}
			}
		}
		span.uploadfile {
			position: relative;
			top: 16px;
		}
	}
	.topdash {
		float: left;
		width: 100%;
		padding: 0 15px;
		padding-top: 20px;
		>div.col-lg-4 {
			width: 391px;
			margin: 10px 0 !important;
			.btn.dropdown-toggle.btn-default {
				border-radius: 0;
				height: 40px;
			}
		}
		div.fourtextbox,
		div.fourtextbox + div {
			float: left;
		}
		div input.btn.btn-lg {
			margin-left: 10px;
		}
	}
}

.fourtextbox {
	&:after {
		@include clear_float;
	}
	>div {
		float: left;
		width: 48%;
		margin: 10px 1%;
		>p {
			display: inline-block;
		}
	}
}

.resourcematch {
	.panel-body {
		>p {
			display: inline-block;
			& + button {
				border: none;
			}
		}
		>table {
			text-align: center;
			th{
				text-align: center;
				&:nth-child(5) {
					width: 110px;
				}
				&:nth-child(6) {
					width: 60px;
				}
			}
			td {
				button {
					border: none;
					background-color: transparent;
				}
			}
		}

		>div {
			input + span.uploadfile {
				top: 16px;
			}
		}
	}
}

.resourceinit {
	.panel-body {
		input.btn.btn-lg.btn-warning {
			background: #ec971f;
			&:hover {
				background: #f0ad4e;
			}
		}
		.topdash {
			input.btn.btn-lg {
				margin: 32px 0;
			}
		}
	}
}

.resourcefinal {
	.panel-body {
		>a {
			margin: 10px 0;
			display: inline-block;
		}
		>div {
			&:after {
				@include clear_float;
			}
			div.col-lg-4.col-md-4.col-sm-4 {
				padding-left: 0;
				padding-right: 0;
			}
			p {
				margin-top: 10px;
			}
		}
		
	}
}
.resourceconfig {
	.panel-body {
		>div {
			&:after {
				@include clear_float;
			}
			div.col-lg-4.col-md-4.col-sm-4 {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

.assigncondition {
	&:after {
		@include clear_float;
	}
	>div {
	    margin: 12px 0;
	    padding: 0;
	    margin-left: 83px;
	}
	div.col-lg-12.col-md-12.col-sm-12 {
		float: none;
		margin-left: 0;
	}
	div.btngroup {
		margin-left: 0;
	}
}

.assignresult {
	table {
		td {
			a {
				display: inline-block;
    			width: 60px;
    			text-decoration: none;
    			color: #333;
    			&:hover {
    				color: #337ab7;
    			}
    			img {
    				margin-right: 5px;
    			}
			}
		}
	}
}

.assigninfo {
	&:after {
		@include clear_float;
	}
	& + .inputgroup {
		margin-top: 15px;
	}
	.leftinfo {
		float: left;
		width: 40%;
		border-right: 1px dashed #555;
	}
	.rightinfo {
		float: right;
		width: 60%;
	}
	ul {
		list-style: none;
		li {
			label {
				margin-right: 15px;
				width: 120px;
				text-align: right;
			}
		}
	}
}

.undoassign, .extendassign, .earlyrelease, .extendassignanalysis{
	.handlereason {
		&:after {
			@include clear_float;
		}
		.leftreason {
			width: 50%;
			float: left;
			textarea {
				width: 90% !important;
				height: 122px !important;
				min-height: 1px !important;
			}
		}
		.centerreason, .rightreason {
			width: 25%;
			float: left;
			p + input {
				margin-bottom: 10px;
			}
		}
		.spcomponent table.ms-usereditor {
			left: 0;
			margin-left: 0;
			table .ms-inputuserfield.ms-inputBox {
				line-height: 38px !important;
			}
		}
	}
}
.extendassignanalysis {
	.handlereason {
		margin-top: 10px;
	}
}

.loanedapplication .loanedinfo, 
.loanedapproval .panel-body,
.releasepeople .releaseinfo,
.releaseapproval .panel-body {
	div.leftbox {
		width: 420px;
	}
	div.rightbox {
		width: 350px;
	}
	>div {
		margin: 6px 0;
		label {
			width: 140px;
			text-align: right;
			margin-right: 5px;
		}

		&:last-child {
			width: 100%;
			float: left;
		}
		&.col-lg-12.col-md-12.col-sm-12 {
			position: relative;
			>label {
				position: absolute;
				top: 0;
				& + textarea {
					width: 80%;
					position: relative;
					left: 148px;
					height: 122px;
					min-height: 20px;
				}
			}
		}
	}
}

.loanedapplication {
	.loanedinfo {
		&:after {
			@include clear_float;
		}
		.spcomponent {
			.ms-taxonomy.ms-taxonomy-height.ms-taxonomy-width {
				left: 145px;
			}
			.ms-taxonomy.ms-taxonomy-height.ms-taxonomy-width  .ms-inputBox {
				width: 240px;
			}
			table.ms-usereditor {
				left: 145px;
				margin-left: 3px;
				>tbody {
					>tr:first-child {
						>td:last-child {
							padding-left: 4px !important;
						}
					}
				}
			}
		}
	}
}
.loanedapproval, .releaseapproval {
	.panel-body {
		&:after {
			@include clear_float;
		}
		
	}
}
.releasepeople .releaseinfo {
	.checkboxgroup.leftbox {
		width: 100%;
		float: left;
		label {
			width: 170px;
    		position: relative;
    		left: 150px;
		}
		input {
			margin: 0;
		}
	}
}