@mixin clear_float {
	content: "";
	display: block;
	clear: both;
	height: 0;
	width: 0;
	visibility: hidden;
}
.front-star {
	&:before {
		content: "*";

	}
}
.searchcondition {
	>div {
		display: inline-block;
	    margin: 12px 0;
	    padding: 0;
	    margin-right: 19px;
	    label {
	    	text-align: right;
	    }
	}

	.employeeid, .employeeskill {
		label {
			width: 160px;
		}
	}
	
	.radiogroup {
		margin-top: 20px;
		label {
			height: 40px;
			line-height: 40px;

			input {
				top: 10px;
			}
		}
	}
}
.container.content div.changerequest {
	.employeeskill {
		input {
			width: 857px;
		}
	}
}
.searchlist {
	list-style: none;
	padding-left: 0;
	&:after {
		@include clear_float;
	}

	>li {
		border-bottom: 1px dashed #999;
		margin-bottom: 10px;
		&:after {
			@include clear_float;
		}
	}
	
	.leftlist {
		float: left;
		min-width: 50px;

		h4 {
			margin-top: 0;
			a {
				color: #333;
			}
		}
	}
	.rightlist {
		float: left;

		.infoitem {
			display: inline-block;
			min-width: 210px;
			margin-bottom: 5px;	

			label {
				color: #666;
			}
		}
	}
}
.peopleinfo {
	&:after {
		@include clear_float;
	}
	.leftinfo {
		float: left;
		width: 33.3%;
		padding-right: 32px;

		.infoheader {
			width: 260px;
    		margin: 0 auto;
			&:after {
				@include clear_float;
			}
			>img {
				float: left;
				width: 100px;
				margin: 5px;
			}
			>div {
				float: left;
				width: 140px;
				height: 100px;
				margin: 5px;
				padding-top: 8px;
				h3 {
					display: inline-block;
					margin-right: 10px;
					width: 60px;
				}
				p {
					display: inline-block;
					margin-right: 10px;
					width: 60px;
				}
			}
		}
		.infodetail {
			width: 260px;
    		margin: 0 auto;
			ul {
				list-style: none;
				padding-left: 0;

				li {
					label {
						width: 100px;
						text-align: right;
						margin: 5px 5px 5px 10px;
					}
				}
			}
		}
		input[type='button'] {
			display: block;
			margin: 10px auto !important;
		}
	}
	.rightinfo {
		float: left;
		width: 66.6%;

		.rightinfoheader {
			label + span {
				margin-right: 20px;				
			}
			>a {
				float: right;
			}
		}
		table {
			text-align: center;
			th {
				text-align: center;
			}
		}
	}

}
.infodescbox {
	>p {
		background: #666;
		text-align: center;
		color: white;
		height: 30px;
		line-height: 30px;
		margin-bottom: 0;
	}
	>div {
		min-height: 150px;
		border: 1px #666 solid;
		margin-bottom: 10px;
	}
}

.peopleassignrecord {
	.panel-body >div {
		>span {
			margin-right: 20px;
		}
	}
	table {
		text-align: center;
		th {
			text-align: center;
		}
	}
}

.newpeople {
	.panel-body {
		>div {
			&:after {
				@include clear_float;
			}
		}
		span.uploadfile {
			position: relative;
			top: 16px;
		}
	}
	.topdash {
		float: left;
		width: 100%;
	}
}

.fourtextbox {
	&:after {
		@include clear_float;
	}
	>div {
		float: left;
		width: 48%;
		margin: 10px 1%;
		>p {
			display: inline-block;
		}
	}
}